@import url('https://fonts.cdnfonts.com/css/valorant');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

:root {
    --mainColor: whitesmoke;
}
.hud {
  position: absolute;
  top: 40px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 5px;
}

.b7d {
  position: relative;
  display: block;
  color: whitesmoke;
  font-size: 12px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  line-height: 1.2;
  margin-bottom: -25px;
  white-space: nowrap;
  text-align: right;
  padding-right: 10px;
}


.b7d1 {
  position: relative;
  display: block;
  background-color: whitesmoke;
  width: 2px;
  height: 28px;
  margin: 5px 0;
  transform: translateX(-5px)
}

.b7d2 {
  position: relative;
  display: block;
  margin-top: -25px;
}

.b7d2 p{
  position: relative;
  display: block;
  color: whitesmoke;
  font-size: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: right;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  padding-right: 10px;
}
